/* resets */
* {
  box-sizing: border-box;

  /* thanks github*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}

.info-wrapper {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  z-index: 1;
  pointer-events:none;
}

.info {
  width: 100%;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 2px #fff;
  font-size: 21px;
  background-color: rgba(0,0,0, 0.1);
}

/*.mapboxgl-marker {*/
  /*background-color: black;*/
  /*width: 33px;*/
  /*border-radius: 50%;*/
  /*height: 33px;*/
/*}*/

/* Need wrapper cause MapBox places marker over canvas with transform */
#ward-label-marker-wrapper {}
#ward-label-marker {
  transform: translate(-50%);
}
